.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.zpu
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
*.swo
build/
old/
*/old/
*/*/old/
*/*/*/old/
*.o
Manuals/
schematics/previous
*.bak
*.test
*.old
build_properties.temp.cmake
component_properties.temp.cmake
components_with_manifests_list.temp
main/CMakeLists.txt.orig
sdkconfigq
0001-flash-permance.patch
0001-flash-permance.zip
README.md
components.x/
components/
main/main.cpp.bak2
